{% extends 'base.html' %}

{% block title %}
ABOUT
{% endblock %}

{% block content %} 
<h1>About page</h1>
<div class="alert alert-info" role="alert"></div>
            A hospital is a crucial part of the health system. It provides outpatient, inpatient, and emergency medical care for sick and injured people.
            You can visit a hospital outpatient department for a consultation when you're sick. An emergency room is the hospital facility you need in an
            urgent situation. Hospitals are also important for training doctors, nurses, and other health professionals. Some hospitals carry out medical
            research to advance medical science and improve the care of patients.





{% endblock %}